# Project exclude paths
.idea/
core-java-learning.iml

### Ignoring files for - java-basics-001-core-concepts ###
java-basics-001-core-concepts/target
java-basics-001-core-concepts/java-basics-001-core-concepts.iml

### Ignoring files for - java-basics-002-design-patterns ###
java-basics-002-design-patterns/target
java-basics-002-design-patterns/java-basics-002-design-patterns.iml

### Ignoring files for - java-basics-003-datastructure ###
java-basics-003-datastructure/target
java-basics-003-datastructure/java-basics-003-datastructure.iml

### Ignoring files for - java-basics-004-junit-mockito ###
java-basics-004-junit-mockito/target
java-basics-004-junit-mockito/java-basics-004-junit-mockito.iml

### Ignoring files for - java-basics-005-enhancements-07 ###
java-basics-005-enhancements-07/target
java-basics-005-enhancements-07/java-basics-005-enhancements-07.iml

### Ignoring files for - java-basics-005-enhancements-08 ###
java-basics-005-enhancements-08/target
java-basics-005-enhancements-08/java-basics-005-enhancements-08.iml

### Ignoring files for - java-basics-005-enhancements-09 ###
java-basics-005-enhancements-09/target
java-basics-005-enhancements-09/.idea
java-basics-005-enhancements-09/java-basics-005-enhancements-09.iml
java-basics-005-enhancements-09/java9-module1/target
java-basics-005-enhancements-09/java9-module1/java9-module1.iml
java-basics-005-enhancements-09/java9-module2/target
java-basics-005-enhancements-09/java9-module2/java9-module2.iml
java-basics-005-enhancements-10/target
java-basics-005-enhancements-10/java-basics-005-enhancements-10.iml
java-basics-005-enhancements-11/target
java-basics-005-enhancements-11/java-basics-005-enhancements-11.iml
java-basics-005-enhancements-12/target
java-basics-005-enhancements-12/java-basics-005-enhancements-12.iml
java-basics-005-enhancements-14/target
java-basics-005-enhancements-14/java-basics-005-enhancements-14.iml
java-basics-005-enhancements-15/target
java-basics-005-enhancements-15/java-basics-005-enhancements-15.iml

### Ignoring files for - java-basics-006-xml-parser ###
java-basics-006-xml-parser/target
java-basics-006-xml-parser/java-basics-006-xml-parser.iml

### Ignoring files for - java-basics-007-reactive ###
java-basics-007-reactive/target
java-basics-007-reactive/java-basics-007-reactive.iml

### xtra-files ###
xtra-files/xtra-files.iml